footer{
    background-color: rgb(51, 77, 92);
    color: white;
    display: flex;
    padding: 20px;
    padding-bottom: 60px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
footer>div{
    display: flex;
    flex-direction: column;
}
footer>div>div{
    display: flex;
    gap: 20px;
}
footer div div img{
    height: 100px;
    width: 100px;
}