#section_titre{
    background-color: rgb(51, 77, 92);
    color: white;
    display: flex;
    justify-content: center;
    gap: 115px;
    padding: 20px;
}

#section_titre div h1{
    font-size: 75px;
    margin-bottom: 20px;
}
#section_titre div p{
    margin-top: 20px;
    font-size: 50px;
}
#section_titre img{
    height: 250px;
    width: auto;
}
.partie1{
    background-color: rgb(51, 77, 92);
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 20px;
    margin-left: 40%;
    margin-right: 40%;
    padding-left: 5px;
    padding-right: 5px;
    padding: 2.5px;
}
.centreSection{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.centreSection div{
    margin-left: 200px;
    margin-right: 100px;
}
.partie4{
    display: flex;
    justify-content: center;
    background-color: #eae3d6;
    flex: 1 1 auto;
    flex-wrap: wrap;
    min-width: 38%;
    gap: 20% 18%;
    flex: auto;
    padding-bottom: 50px;
    padding-top: 50px;
}
.partie4 div{
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
}
.partie4 img{
    height: 100px;
}